* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  background-color: #fff;
}

nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  padding: 1em;
  border-bottom: 1px solid #d9d9d9;
}

aside {
  height: calc(100vh - 61.44px);
  top: 61.44px;
  width: 300px;
  position: fixed;
  align-self: start;
  grid-area: sidebar;
  display: none;
  border-right: 1px solid #d9d9d9;
  background-color: white;
}

main {
  grid-area: main;
  padding: 30px;
  background-color: #f8f9fc;
}

footer {
  grid-area: footer;
  padding: 2em;
  border-top: 1px solid #d9d9d9;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 20px 8px;
}

tr:hover {
  background-color: #ecf3fe;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 20px 0px;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.show-sidebar {
  display: block;
}

.more-button {
  display: flex;
  outline: none;
  justify-content: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  margin: 10px;
}

.sidebar-menu li {
  margin: 0 0 15px 0;
}

.sidebar-menu a {
  text-decoration: none;
}

.sidebar-menu li:hover:not(:first-child) {
  text-decoration: none;
  background-color: #ecf3fe;
  border-radius: 10px;
}

.create-new {
  background-color: #3466e5;
  padding: 15px 20px;
  color: white;
  border-radius: 10px;
  width: fit-content;
}

.sidemenu-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 600;
}

.sidemenu-list.selected {
  background-color: #ecf3fe;
  color: #5d83e9;
}

.list-navigation {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 10px 0px;
}

.action-container {
  display: flex;
  gap: 0.5rem;
  padding: 10px;
  background-color: white;
  border: 1px solid #e8e9ed;
  border-radius: 10px;
  width: fit-content;
}

.action-container.button {
  align-items: center;
  cursor: pointer;
}

.search-text {
  text-decoration: none;
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  width: 250px;
  outline: none;
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar main"
      "sidebar footer";
  }

  aside {
    position: sticky;
    width: 300px;
    display: block;
  }
}
